/* Modal container (background overlay) */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box */
.modal-content {
  /* background: white; */
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 400px; 
  position: relative;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #1d1b1a;
  z-index: 1;
}
.modal-close:hover {
  color: #314549;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content {
  animation: fadeIn 0.3s ease-in-out;
}
