.admin-layout {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.admin-sidebar {
  width: 300px;
  padding: 55px 0px 20px 20px;
}

.sidebar-card {
  border: 2px solid #000000;
  padding: 20px;
  background-color: transparent;
  height: fit-content;
}

.admin-menu-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.admin-link {
  display: block;
  padding: 15px 20px;
  background-color: #fae7c4;
  text-decoration: none;
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.admin-link:hover {
  background-color: #314549;
  color: #ffffff;
}

.admin-content {
  flex: 1;
  padding: 20px 0 20px 0;
}

.admin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--header-height);
}

.admin-mobile-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.warning-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}

.warning-text {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--palet-color-darkgray);
}

.admin-layout.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .admin-layout {
    display: none;
  }
  .admin-container {
    margin-bottom: 0;
  }
}
