/* Estilos globales (de index.css) */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aseguramos que el html y body ocupen todo el ancho */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

/* Estilo para el div root */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilo para el contenedor de la app */
.appContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos de componentes */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFEFF;
  color: #314549;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  justify-content: flex-start;
}

.logoContainer {
  background-color: #FFFEFF;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  background-color: #FFFEFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #030303;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #030303;
  width: 100%;
  color: #314549;
  background-color: #FFFEFF;
}

.button {
  background-color: #F2BE5E;
  color: #030303;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: fit-content;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: #314549;
}

.label {
  color: #030303;
  margin-bottom: 8px;
  align-self: flex-start;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #314549;
  color: #FFFEFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileInputLabel:hover {
  background-color: #405c62;
}

.imagePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.imagePreview {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #FFFEFF;
}

.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}