.reservation-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  text-align: center;
}

.reservation-content{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.reservation-history-title {
  font-family: "Poppins", sans-serif;
  color: #314549;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.reservation-card {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  padding: 1rem;  
  max-width: 800px;
}

.reservation-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.reservation-image {
  width: 33.33%;
  height: auto;
  object-fit: cover;
}

.reservation-content {
  padding: 20px;
  flex: 1;
  font-size: 14px;
}

.reservation-dates {
  display: flex;
  justify-content: space-between;
  color: #555;
  gap: 2rem;
  width: 100%;
}

.date-label {
  font-family: "Poppins", sans-serif;
  color: #314549;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}

.date-value {
  font-family: "Inter", sans-serif;
  color: #000000;
  margin-top: 4px;
  margin-left: 15px;
}

.reservation-details-label {
  font-family: "Nunito", sans-serif;
  color: #314549;
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 18px;
}

.reservation-details-value {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 15px;
}

.confirmation-code-label {
  font-family: "Nunito", sans-serif;
  color: #314549;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.confirmation-code-value {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 20px;
  margin-top: 4px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 650px) {
  .reservation-dates{
    max-width: 300px;    
  }
  .reservation-card{
    max-width: 400px;
  }
  .date-label img{
    max-height: 25px;
  }
}


@media screen and (max-width: 768px) {
  .reservation-history-title {
    font-size: 2rem;
  }

  .date-label {
    font-size: 12px;
  }

  .date-value {
    font-size: 12px;
  }

  .reservation-details-label {
    font-size: 14px;
  }

  .reservation-details-value {
    font-size: 12px;
  }

  .confirmation-code-label {
    font-size: 14px;
  }

  .confirmation-code-value {
    font-size: 16px;
  }

  .reservation-content {
    padding: 15px;
  }
}
