/**
 * Global application styles
 * Defines:
 * - CSS variables for colors
 * - Typography settings
 * - Button styles
 * - Base layout properties
 * - Font imports
 * - Reset styles
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Nunito&family=Inter:wght@400&display=swap");

:root {
	/* Palet colors */
	--palet-color-darkgray: #314549;
	--palet-color-orange: #f2be5e;
	--palet-color-orange-light: #fae7c4;
	--palet-color-brown: #685044;
	--palet-color-white: #ffffff;
	--palet-color-black: #000000;
	--palet-color-placeholder: #a0a0a0;

	/* Background colors */
	--body-background-color: var(--palet-color-white);
	--header-user-background-color: var(--palet-color-brown);
	--header-menu-background-color: var(--palet-color-orange-light);
	--footer-background-color: var(--palet-color-orange-light);

	/* Buttons */
	--button-primary-font: 700 15px "Poppins", sans-serif; /* Actualizado con peso 700 */
	--button-primary-font-color: var(--palet-color-darkgray);
	--button-primary-background-color: var(--palet-color-orange);

	--button-secondary-font: 400 13px "Poppins", sans-serif; /* Nueva variable añadida */
	--button-secondary-font-color: var(--palet-color-black);
	--button-secondary-background-color: var(--palet-color-orange);

	--button-third-font: 700 11px "Poppins", sans-serif;
	--button-third-font-color: var(--palet-color-white);
	--button-third-background-color: var(--palet-color-darkgray);
	--button-third-border-radius: 16px;

	--button-user-font: 700 10px "Inter", sans-serif;
	--button-user-font-color: var(--palet-color-white);

	/* Fonts */
	--h1-font: 28px "Poppins", sans-serif;
	--h2-font: 18px "Nunito", sans-serif;

	--paragraph-font: 400 12px "Inter", sans-serif;
	--paragraph-font-color: var(--palet-color-brown);
	--paragraph-font-color-light: var(--palet-color-white);
	--paragraph-font-color-dark: var(--palet-color-black);
	--paragraph-font-color-placeholder: var(--palet-color-placeholder);

	/* Menu */
	--menu-font: 400 13px "Inter", sans-serif;
	--menu-font-color: var(--palet-color-black);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--body-background-color);
	font-family: var(--paragraph-font);
	color: var(--paragraph-font-color);
}

a {
	text-decoration: none;
}
/*
body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
