.back-button {
	background: none;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.back-button:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.back-button img {
	width: 42px;
	height: 42px;
}

.images-grid-container {
	display: flex;
	width: 100%;
	height: 500px;
	gap: 1rem;
	position: relative;
}

.main-image {
	flex: 1;
	height: 100%;
}

.main-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.secondary-images {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
	position: relative;
}

.grid-image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.grid-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

/* Add this new class */
.button-container {
	display: flex;
	justify-content: flex-end;
	width: 250px;
	height: 41px;
	padding: 1rem 0;
}

.view-more-button {
	width: 90px;
	font: var(--button-third-font);
	color: var(--button-third-font-color);
	background-color: var(--button-third-background-color);
	border-radius: var(--button-third-border-radius);
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.view-more-button:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
	.images-grid-container {
		flex-direction: row;
		height: auto;
	}

	.main-image {
		width: 50%;
		height: 400px;
		margin: 0 auto;
	}

	.secondary-images {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: 400px;
	}

	.grid-image {
		height: 100%;
	}
}

/* Mobile styles */
@media screen and (max-width: 767px) {
	.images-grid-container {
		flex-direction: column;
		height: auto;
	}

	.main-image {
		width: 100%;
		height: 300px;
	}

	.secondary-images {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
		position: relative;
	}

	.grid-image {
		height: 100%;
	}
}

/* Small mobile styles */
@media screen and (max-width: 320px) {
	.main-image {
		height: 200px;
	}

	.grid-image {
		flex: 0 0 150px;
		height: 120px;
	}
}
