/**
 * Header component styles
 * Features:
 * - Fixed positioning
 * - Flex layout for content
 * - Responsive adjustments
 * - Z-index management
 * - Height variables
 */

/* Base styles for header container */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Main header styles */
.app-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--header-menu-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height, 80px);
  gap: 1rem;
}

/* Añadimos padding al logo */
.logo-container {
  padding-left: 6rem; /* Ajusta este valor para mover el logo más o menos a la derecha */
}

.nav-section {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-user button{
  padding: 3px 7px;
  border-radius: 7px;
  cursor: pointer;
}

/* Media queries */
@media screen and (width < 1024px) {
  .app-header {
    padding: 0.75rem 1rem;
    height: var(--header-height, 70px);
  }
}

@media screen and (width < 768px) {
  .app-header {
    padding: 0.5rem;
    height: var(--header-height, 60px);
  }
}

@media screen and (width <= 320px) {
  .app-header {
    padding: 0.25rem 0.5rem;
    height: var(--header-height, 50px);
  }
}


span{
  word-wrap: break-word;
}




